h1 {
    color:hotpink;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:italic
}
ul {
  color:lime;
  background-color: hotpink;
}
.highlight {
    background-color: yellow;
    color: lime;
}
.bold li {
    font-weight: bolder;
}